header{
  //background: #fff!important;
  color: $blue-grey-7!important;
  .q-layout__shadow:after{
    box-shadow: 0 1px 10px rgb(0 0 0 / 40%) !important;
  }
  .q-toolbar{
    padding: 0 0 0 20px;
  }
  .q-toolbar__title{
    font-size: 13px;
  }
  small{
    font-size: 11px;
  }
  .header_inner_wrap{
    padding: 10px;
    border-top: 2px solid #e0e0e0;
    .page_breadcrumbs{
      font-weight: 600;
      font-size: 20px;
      padding-left: 20px;
      .q-breadcrumbs__separator,
      .item_name{
        font-size: 13px!important;
      }
      .q-breadcrumbs__separator{
        opacity: .2;
      }
    }
  }
}

.logout_wrap{
  background: #fdf2f3;
  padding: 10px 13px;
  margin-left: 5px;
}

.top-list-wrp{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    color: $blue-grey-6!important;
    i{
      font-size: 25px!important;
    }

  }
  .user-login{
    margin-left: 10px;
    span{
      display: inline-block;
      margin-right: 10px;
      font-weight: 500;
    }
  }
}

.color_theme_title{
  font-size: 13px;
  color: $blue-grey-6;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid $blue-grey-2;
  margin: 0 0 10px;
  padding-bottom: 10px;
}
.color-theme-wrap{
  list-style: none;
  width: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    margin: 8px 5px 0;
    span{
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid #ccc;
    }
  }
}

.pLink{
  width: 250px;
  border-bottom: 1px solid #e0e0e0;
  &:nth-of-type(2n) {
    background: #f5f5f5;
  }
  .q-item__section--avatar{
    min-width: 20px;
    padding-right: 0;
    i{
      font-size: 10px;
      color: #455a64;
      opacity: 1;
    }
  }
}

.searchBox{
  .q-field__marginal,
  .q-field__control{
    height: 42px;
  }
  i{
    color: #607d8b!important;
  }
}

.search_top{
  position: relative;
}

/*.searchBox {
  width: 100%;
  position: absolute;
  right: 545px;
  top: -78px;
}*/

[title~="settings-nav"]{
  .q-item{
    padding: 0 15px;
  }
  .q-item__section--avatar{
    padding: 0;
    min-width: 40px;
    i{
      font-size: 10px;
    }
  }
}
